body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(195, 0, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    
}

.game-screen {
    background-color: rgb(116, 255, 255);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
    flex-grow: 1;
    width: 90%; 
    max-width: 400px; 
    margin: 0 auto;
}

#Button1 {
    font-size: 60px;
    padding: 15px 30px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(157, 0, 255);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(2, 0, 256, 5);
}

#Button1:hover {
    background-color: blue;
}

#scoreText {
    font-size: 24px;
    color: #000000;
}

#animation {
    position: relative;
}

.floating-plus {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 47, 255);
    pointer-events: none;
    user-select: none;
    opacity: 1;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

@keyframes popUp {
    0% {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);
    }
    50% {
        transform: translate(-50%, -20px) scale(1.2);
    }
    100% {
        transform: translate(-50%, -60px) scale(0.8);
    }
}

#goToQuestions {
    font-size: 16px;
    padding: 5px 5px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(0, 42, 255);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(157, 0, 255, 5);
}

h1 {
    font-size: 60px;
}

#goHomeButton {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#homeButton:hover {
    background-color: rgb(0, 180, 50);
}

#multButton {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
}

#animationMult {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

#goFromSecret {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 50px;
    align-items: center;
    min-height: 100px;
    margin-top: -20px;
}

#claimButton1 {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

#secretScreen img {
    width: 100%; 
    max-width: 500px;
    height: auto;
}

p2 {
    display: block;
    min-height: 80px;
    margin: 10px 0;
    margin-top: -10px;
}

#questionButton {
    display: block;
    margin: 20px auto;
    font-size: 15px;
    background-color: rgb(0, 211, 21);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

p3 {
    display: block;
    min-height: 80px;
    margin: 10px 0;
    margin-top: -10px;
}

.questionsScreen {
    background-color: rgb(116, 255, 255);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
    flex-grow: 1;
    width: 90%; 
    max-width: 600px; 
    margin: 0 auto;
    text-align: center;
}

#goFromQuestions {
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 0, 68);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#newQuestion {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgb(187, 0, 255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

#submitAnswer {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    background-color: rgb(255, 2, 162);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}



.gif-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 110, 255);
    border: none;
}

.hidden {
    display: none;
}

#answerInput {
    border-radius: 8px;
    border: 3px solid rgb(255, 0, 251);
}
button {
    touch-action: manipulation;
}
.game-screen, .questionsScreen {
    background-color: rgb(116, 255, 255);
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    display: block; 
}



    